<?xml version='1.0' encoding='utf-8'?>
<widget id="org.allseen.alljoyn.test-app" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AllJoynTestApp</name>
    <description>
        A test app that can host and run the AllJoyn plugin tests.
    </description>
    <content src="cdvtests/index.html" />
    <access origin="*" />
</widget>
